@media only screen and (min-width:1024px){
    body{
        overflow-x:hidden;
    }
    #main{
        width: 1035px;
    }
    .header{
        width: 750px;
        padding-top: 15px;
    margin-left: 28%;
    }
    .logo{
        width: 40%;
        margin-left: -20%;
    }
    .twitter{
width: 30%;
    margin-left: 64%;
    margin-top: -6%;
        }
    .navElement1{
        width: 750px;
    } 
    .float{
        width: 750px;
        height: 350px;
    }
    
    .box{
        width:19%;
    }
    
    .navElement2{
        width: 750px;
    }
    
    .navElement3{
        width: 750px;
    }
    
    .content {
        width: 24%;
    }
     
    
}
/*for planshet*/
@media only screen and (max-width:1024px) {
    body{
        overflow-x:hidden;
    }
    #main {
        width: 768px;
        background-image: url(images/bg-top.jpg);
        margin: 5% auto;

    }

    .header {
        width: 600px;
        padding-top: 10px;

    }

    .logo {
        margin-left: -22%;

    }

    .twitter {
        margin-left: 62%;

    }

    .navElement1 {
        width: 600px;
        margin-top: 6%;
    }

    .navElement1 ul {
        width: 600px;


    }

    .navElement1 li {
        width: 100px;
        font-size: 15px;
    }

    .float {
        width: 600px;
    }

    .navElement2 {
        width: 600px;
        height: 110px;
        padding: 2px;
    }

    .float p {
        font-size: 10px;
    }

    .box {
        width: 18.7%;
        margin: 0.5%;
    }

    .navElement3 {
        width: 600px;
        margin-top: 1%;
    }

    .content p {
        font-size: 13.5px;

    }

    /*for tablet*/
    @media only screen and (max-width: 768px) {
        body{
            overflow-x:hidden;
        }
        #main {
            width: 640px;
        }

        .header {
            width: 500px;
        }

        .logo {
            width: 30%;

        }

        .twitter {
            width: 30%;

        }

        .navElement1 {
            width: 500px;
        }

        .navElement1 ul {
            width: 500px;

        }

        .navElement1 li {
            width: 80px;
            font-size: 11px;
        }

        .float {
            width: 500px;
        }

        .navElement2 {
            width: 500px;
            height: 100px;
        }

        .box {
            width: 18.7%
        }

        .navElement3 {
            width: 500px;
        }

        .content {
            width: 24%;
        }

        .content p {
            font-size: 14px;
        }

        button {
            padding: 4px;
            font-size: 11px;
        }

    }
    /*for telephon*/
    @media only screen and (max-width: 640px) {
        body{
            overflow-x:hidden;
        }
        #main {
            width: 400px;
            border: 3px solid #C48A7F;
            height: 2000px;
            position: relative;

        }

        .header {
            width: 380px;
            position: relative;
        }

        .logo {
            width: 100%;
            margin-left: -31%;
            padding: 10px 10px 10px;

        }

        .twitter {
            position: absolute;
            left: -55%;
            top: 100%;
        }

        .round {
            width: 25%;

        }

        .wrapper {
            display: block;
            margin-left: 2.5%;
        }

        .wrapper ul {
            display: none;
        }


        .navMenu:checked ~ ul {
            display: block;
        }

        .green {
            width: 100%;
            display: block;
            padding-top: 18px;

        }

        .float {
            width: 380px;

        }

        .float p {
            margin-top: 1%;
        }

        .navElement1 {
            display: none;
        }

        .navElement2 {
            width: 380px;
            height: 140px;
        }

        .box {
            width: 20%;
            margin: 1.2%;
        }

        .box:last-child {
            margin-top: -5%;
        }

        .navElement3 {
            width: 100%;
            display: flex;
            display: block;
            margin-top: -5%;
        }

        .content {
            width: 100%;
            height: 310px;
            box-sizing: border-box;
            margin-top: 8%;
        }

        .content span {
            display: inline-block;
            color: #45464C;
            margin: 1%;
            font-size: 12px;
        }

        .footer {
            position: absolute;
            bottom: 1%;
            left: -10%;
        }

    }
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    





